:root {
  font-size: 12px;
  --text-black: black;
  --main-color: green;
  --second-color: yellow;
  --text-white: white;
}

img {
  width: 100%;
  vertical-align: middle;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
  margin-inline: 1rem;
}
body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px lightgreen;
  border-radius: 1rem;
  padding: 0.5rem;
}
body header nav a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed black;
}
body header nav h2 {
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
}
body header nav #headList .open {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 20%;
  background-color: rgba(10, 9, 9, 0.568);
  z-index: 100;
}
body header nav #headList .open li {
  margin: 3rem;
}
body header nav #headList .open li a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
body header nav #headList .open #close {
  fill: white;
  position: inherit;
  top: 2px;
  left: 2px;
}
body header nav #headList #burger {
  stroke: black;
  cursor: pointer;
}
body header nav #headList #theme-switch {
  cursor: pointer;
}
body main #hero h1,
body main #compare h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  margin-block: 2rem;
}
body main #hero .slides,
body main #compare .slides {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  margin-block: 1rem;
}
body main #hero .slides .elements .element,
body main #compare .slides .elements .element {
  position: relative;
  display: none;
}
body main #hero .slides .elements .element img,
body main #compare .slides .elements .element img {
  aspect-ratio: 1/-1;
}
body main #hero .slides .elements .element.active,
body main #compare .slides .elements .element.active {
  display: block;
}
body main #hero .slides .elements .element figcaption,
body main #compare .slides .elements .element figcaption {
  text-align: center;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(26, 24, 24, 0.801);
  padding: 1.2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}
body main #hero .slides .elements .element figcaption h2,
body main #compare .slides .elements .element figcaption h2 {
  text-transform: capitalize;
  margin-block: 1rem;
  color: yellow;
}
body main #hero .slides .elements .element figcaption p,
body main #compare .slides .elements .element figcaption p {
  color: green;
}
body main #hero .slides #left,
body main #hero .slides #right,
body main #compare .slides #left,
body main #compare .slides #right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
body main #hero .slides #left,
body main #compare .slides #left {
  left: 0;
}
body main #hero .slides #right,
body main #compare .slides #right {
  right: 0;
}
body main #message .title {
  text-align: center;
  margin: 2rem;
}
body main #message .title h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}
body main #message .param1,
body main #message .param2 {
  font-size: 1.6rem;
  margin: 1rem;
  padding-block: 1.5rem;
  box-shadow: 1px 1px rgba(21, 201, 21, 0.397);
  border-radius: 1rem;
}
body main #message .sondage {
  text-align: center;
  padding: 2rem;
}
body main #message .sondage a {
  text-decoration: none;
  color: yellow;
  background-color: black;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}
body main #message .sondage a:hover {
  background-color: rgba(0, 0, 0, 0.753);
  color: green;
}
body #sondage,
body #sondage2,
body #sondage3,
body #sondage4,
body #sondage5 {
  margin-top: 5rem;
}
body #sondage form,
body #sondage2 form,
body #sondage3 form,
body #sondage4 form,
body #sondage5 form {
  background-color: rgba(65, 65, 24, 0.616);
  border-radius: 0.5rem;
}
body #sondage form .question,
body #sondage2 form .question,
body #sondage3 form .question,
body #sondage4 form .question,
body #sondage5 form .question {
  text-align: center;
  padding: 2rem;
}
body #sondage form .question label,
body #sondage2 form .question label,
body #sondage3 form .question label,
body #sondage4 form .question label,
body #sondage5 form .question label {
  font-size: 1.5rem;
  color: black;
}
body #sondage form .btnSubmit,
body #sondage2 form .btnSubmit,
body #sondage3 form .btnSubmit,
body #sondage4 form .btnSubmit,
body #sondage5 form .btnSubmit {
  text-align: center;
  padding-bottom: 1rem;
}
body #sondage form .btnSubmit #yes,
body #sondage form .btnSubmit #no,
body #sondage2 form .btnSubmit #yes,
body #sondage2 form .btnSubmit #no,
body #sondage3 form .btnSubmit #yes,
body #sondage3 form .btnSubmit #no,
body #sondage4 form .btnSubmit #yes,
body #sondage4 form .btnSubmit #no,
body #sondage5 form .btnSubmit #yes,
body #sondage5 form .btnSubmit #no {
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-inline-start: 1rem;
  cursor: pointer;
}
body #sondage form .btnSubmit #yes#yes:hover,
body #sondage form .btnSubmit #no#yes:hover,
body #sondage2 form .btnSubmit #yes#yes:hover,
body #sondage2 form .btnSubmit #no#yes:hover,
body #sondage3 form .btnSubmit #yes#yes:hover,
body #sondage3 form .btnSubmit #no#yes:hover,
body #sondage4 form .btnSubmit #yes#yes:hover,
body #sondage4 form .btnSubmit #no#yes:hover,
body #sondage5 form .btnSubmit #yes#yes:hover,
body #sondage5 form .btnSubmit #no#yes:hover {
  background-color: green;
  color: black;
}
body #sondage form .btnSubmit #yes#no:hover,
body #sondage form .btnSubmit #no#no:hover,
body #sondage2 form .btnSubmit #yes#no:hover,
body #sondage2 form .btnSubmit #no#no:hover,
body #sondage3 form .btnSubmit #yes#no:hover,
body #sondage3 form .btnSubmit #no#no:hover,
body #sondage4 form .btnSubmit #yes#no:hover,
body #sondage4 form .btnSubmit #no#no:hover,
body #sondage5 form .btnSubmit #yes#no:hover,
body #sondage5 form .btnSubmit #no#no:hover {
  background-color: yellow;
  color: black;
}
body footer {
  border-top: 1px solid lightgrey;
  margin-top: 3rem;
}
body footer .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
body footer .main ul li {
  padding: 1rem;
}
body footer .main ul li a {
  text-decoration: none;
  color: green;
  font-size: 1.5rem;
}
body footer .main .text {
  background-color: rgba(71, 68, 68, 0.534);
  font-size: 1.5rem;
  color: yellow;
  padding: 0.5rem;
  border-radius: 1rem;
}
body footer .foot {
  padding: 1rem;
  background-color: green;
  text-align: center;
  margin-block: 1rem;
}
body footer .foot p {
  font-size: 2rem;
}/*# sourceMappingURL=styles.css.map */